# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
url-shortener

# Test binary
*.test

# Go workspace
go.work

# Env
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-data/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
